<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>



<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <package class="org.polarsys.kitalpha.vp.componentsamplesafety.ComponentSampleSafety.ComponentSampleSafetyPackage" genModel="models/ComponentSampleSafety.genmodel" uri="http://www.polarsys.org/kitalpha/ComponentSampleSafety/1.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser class="org.polarsys.kitalpha.vp.componentsamplesafety.ComponentSampleSafety.util.ComponentSampleSafetyResourceFactoryImpl" type="componentsamplesafety"/>
   </extension>

</plugin>
