<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
Copyright (c) 2014 Thales Global Services S.A.S.
 This program and the accompanying materials are made available under the
 terms of the Eclipse Public License 2.0 which is available at
 http://www.eclipse.org/legal/epl-2.0

 SPDX-License-Identifier: EPL-2.0

Contributors:
 Thales Global Services S.A.S - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.polarsys.kitalpha.mdetoolkit"
            name="%_UI_MDEToolkit_Wizard_category"/>
      <wizard
            id="org.polarsys.kitalpha.transposer.analyzer.graph.presentation.GraphModelWizardID"
            name="%_UI_GraphModelWizard_label"
            class="org.polarsys.kitalpha.transposer.analyzer.graph.presentation.GraphModelWizard"
            category="org.polarsys.kitalpha.mdetoolkit"
            icon="icons/full/obj16/GraphModelFile.gif">
         <description>%_UI_GraphModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.polarsys.kitalpha.transposer.analyzer.graph.presentation.GraphEditorID"
            name="%_UI_GraphEditor_label"
            icon="icons/full/obj16/GraphModelFile.gif"
            extensions="graph"
            class="org.polarsys.kitalpha.transposer.analyzer.graph.presentation.GraphEditor"
            contributorClass="org.polarsys.kitalpha.transposer.analyzer.graph.presentation.GraphActionBarContributor">
      </editor>
   </extension>

</plugin>
