<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
Copyright (c) 2014 Thales Global Services S.A.S.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html
 
Contributors:
  Thales Global Services S.A.S - initial API and implementation
-->


<plugin>
   <extension-point id="org.polarsys.kitalpha.model.detachment.ui.page" name="page" schema="schema/page.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.polarsys.kitalpha.model.detachment.ui.editor.ModelDetachment"
            default="false"
            icon="icons/detach_icon.png"
            id="org.polarsys.kitalpha.model.detachment.ui.editor"
            name="%DETACHMENT_EDITOR">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.polarsys.kitalpha.model.detachment.ui.action.DetachmentActionHandler"
            commandId="org.polarsys.kitalpha.model.detachment.ui.command.a">
         <enabledWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="aird">
                     </test>
                  </adapt>
               </iterate>
            </and>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Launch Model Detachment "
            id="org.polarsys.kitalpha.model.detachment.ui.command.a"
            name="New Detachment Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.polarsys.kitalpha.model.detachment.ui.menu.architectureDescription?after=additions">
         <command
               commandId="org.polarsys.kitalpha.model.detachment.ui.command.a"
               icon="icons/detach_icon.png"
               label="%MODEL_MODEL_DETACHMENT_NAME"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="aird">
                        </test>
                     </adapt>
                     <test
                           property="org.polarsys.kitalpha.model.detachment.ui.action.checkClosedSession">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="icons/Kitalpha_Logo_alpha.png"
               id="org.polarsys.kitalpha.model.detachment.ui.menu.architectureDescription"
               label="%MODEL_POPUPMENU_NAME">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.polarsys.kitalpha.model.detachment.ui.command.a"
               icon="icons/detach_icon.png"
               label="%MODEL_MODEL_DETACHMENT_NAME"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="aird">
                        </test>
                     </adapt>
                     <test
                           property="org.polarsys.kitalpha.model.detachment.ui.action.checkClosedSession">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.polarsys.kitalpha.model.detachment.ui.action.DetachmentActionPropertyTester"
            id="org.polarsys.kitalpha.model.detachment.ui.action.check.closed.session"
            namespace="org.polarsys.kitalpha.model.detachment.ui.action"
            properties="checkClosedSession"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>

</plugin>
