<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2014-2020 Thales Global Services S.A.S.
This program and the accompanying materials are made available under the
terms of the Eclipse Public License 2.0 which is available at
http://www.eclipse.org/legal/epl-2.0

SPDX-License-Identifier: EPL-2.0
 
Contributors:
  Thales Global Services S.A.S - initial API and implementation
-->

<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.egf.core.fcore">
      <fcore
            id="egf/EcoreDocGen.fcore">
      </fcore>
      <fcore
            id="egf/EcoreDocGenLauncher.fcore">
      </fcore>
   </extension>
   <extension
         point="org.polarsys.kitalpha.doc.gen.business.core.conceptshelper">
      <conceptsHelper
            helper="org.polarsys.kitalpha.doc.gen.business.ecore.helpers.EcoreGenConceptsHelper">
      </conceptsHelper>
   </extension>
   <extension
         point="org.eclipse.egf.pattern.query">
      <query
            class="org.polarsys.kitalpha.doc.gen.business.ecore.egf.query.EcoreDocGenInjectedContextQuery"
            id="org.polarsys.kitalpha.doc.gen.business.ecore.injected.context"
            name="Ecore DocGen Injected Element">
      </query>
      <query
            class="org.polarsys.kitalpha.doc.gen.business.ecore.egf.query.InjectDiagramHelperQuery"
            id="org.polarsys.kitalpha.doc.gen.business.ecore.diagramHelper"
            name="Inject Diagram Helper">
      </query>
      <query
            class="org.polarsys.kitalpha.doc.gen.business.ecore.egf.query.InjectFileNameService"
            id="org.polarsys.kitalpha.doc.gen.business.ecore.inject.file.name.service"
            name="Inject File Name Service">
      </query>
   </extension>
</plugin>
