<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension point="org.eclipse.amalgam.explorer.activity.ui.pagesProvider">
	<Page
		class="org.polarsys.kitalpha.vp.componentsample.activity.explorer.page.ComponentSampleArchitecturePage"
        id="org.polarsys.kitalpha.vp.componentsample.activity.explorer.architecture" 
		imageOff="icons/componentsample_off.png" 
		imageOn="icons/componentsample_on.png"
        index="1"
        tabName="Component Sample Architecture"
        title="Component Sample Architecture"
        viewer="true">
			<Description>
				Description body text
			</Description>
			<Predicate
				class="org.polarsys.kitalpha.vp.componentsample.activity.explorer.predicate.PComponentSampleArchitecturePredicate">
			</Predicate>

		<Overview imageOff="icons/componentsample_off.png" imageOn="icons/componentsample_on.png">
			<Description>
				&lt;p&gt;&lt;b&gt;Component Sample Architecture&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Create a new Component Sample Diagram&lt;br/&gt;Set Name to the model&lt;/p&gt;
			</Description>
		</Overview>

		<Section
			   expanded="true"
			   filtering="true"
			   id="org.polarsys.kitalpha.vp.componentsample.activity.explorer.architecture.section"	   
			   index="1"
			   name="Diagrams of Component Sample Architecture">
			<Description>
				&lt;p&gt;Create a new Component Sample Architecture Diagram&lt;/p&gt;
			</Description>
			<Activity
				class="org.polarsys.kitalpha.vp.componentsample.activity.explorer.activity.SetModelNameActivity"
				id="org.polarsys.kitalpha.vp.componentsample.activity.explorer.architecture.name.setting.activity"
				index="1" 
				image="icons/id.png"
				name="Set Name To Component Sample Model">
			<Description>
				Set a name to Component Sample Model
			</Description>			</Activity>

			<Activity
				class="org.polarsys.kitalpha.vp.componentsample.activity.explorer.activity.CreateNewDiagramActivity"
				id="org.polarsys.kitalpha.vp.componentsample.activity.explorer.architecture.activity"
				index="2" 
				image="icons/create_diagram.png"
				name="Create a new Diagram">
			<Description>
				Create a new Component sample Diagram
			</Description>			</Activity>
		</Section>
	</Page>
</extension>
<extension
      point="org.eclipse.amalgam.explorer.activity.ui.pagesProvider">
   <Page
         class="org.polarsys.kitalpha.vp.componentsample.activity.explorer.page.DocumentationPagePage"
         id="org.polarsys.kitalpha.vp.componentsample.documentation"
         index="3"
         tabName="Documentation"
         title="Documentation"
         viewer="false">
      <Description>
         
      </Description>
      <Predicate
            class="org.polarsys.kitalpha.vp.componentsample.activity.explorer.predicate.PDocumentationPagePredicate">
      </Predicate>
   </Page>
</extension>
</plugin>
