<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2014, 2016 Thales Global Services S.A.S.
This program and the accompanying materials are made available under the
terms of the Eclipse Public License 2.0 which is available at
http://www.eclipse.org/legal/epl-2.0

SPDX-License-Identifier: EPL-2.0
 
Contributors:
  Thales Global Services S.A.S - initial API and implementation
-->

<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polarsys.kitalpha.ad.viewpoint.dsl.generation.conf.GenerationElementConf">
      <inner
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.generation.conf.doc.DocGenGenerationConfiguration">
      </inner>
   </extension>
   
   


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DocGenConfiguration -->
      <package
            uri="http://www.polarsys.org/kitalpha/ad/viewpoint/dsl/DocGenConfiguration/1.0.0"
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.generation.conf.doc.model.docGenConfiguration.DocGenConfigurationPackage"
            genModel="model/DocGenConfiguration.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated DocGenConfiguration -->
      <factory
            uri="http://www.polarsys.org/kitalpha/ad/viewpoint/dsl/DocGenConfiguration/1.0.0"
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.generation.conf.doc.model.docGenConfiguration.provider.DocGenConfigurationItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated DocGenConfiguration -->
      <extender
            uri="http://www.polarsys.org/kitalpha/ad/viewpoint/dsl/as/vpconf/1.0.0"
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.generation.conf.doc.model.docGenConfiguration.provider.DocGenConfigurationItemProviderAdapterFactory$VpconfChildCreationExtender"/>
   </extension>
</plugin>
