<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
 <!--
Copyright (c) 2021 Thales Global Services S.A.S.
 This program and the accompanying materials are made available under the
 terms of the Eclipse Public License 2.0 which is available at
 http://www.eclipse.org/legal/epl-2.0

 SPDX-License-Identifier: EPL-2.0

Contributors:
 Thales Global Services S.A.S - initial API and implementation
-->
<plugin>
 <extension
       point="org.polarsys.kitalpha.common.sirius.extension.rotativeimage">
    <imageid
          id="/org.polarsys.kitalpha.common.sirius.extension.rotativeimage.junit.tests/icons/rotationIcon.svg"
          kind="rotative">
    </imageid>
    <imageid
          id="/org.polarsys.kitalpha.common.sirius.extension.rotativeimage.junit.tests/icons/4imagesIcon.svg"
          kind="4images">
    </imageid>
    <imageid
          id="/org.polarsys.kitalpha.common.sirius.extension.rotativeimage.junit.tests/icons/4imagesIcon_error.svg"
          kind="4images">
    </imageid>
    <imageid
          id="/org.polarsys.kitalpha.common.sirius.extension.rotativeimage.junit.tests/icons/4imagesIcon_error.png"
          kind="4images">
    </imageid>
    <imageid
          id="/org.polarsys.kitalpha.common.sirius.extension.rotativeimage.junit.tests/icons/rotationIcon.png"
          kind="rotative">
    </imageid>
    <imageid
          id="/org.polarsys.kitalpha.common.sirius.extension.rotativeimage.junit.tests/icons/4imagesIcon.png"
          kind="4images">
    </imageid>
 </extension>
</plugin>
