<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2014-2020 Thales Global Services S.A.S.
This program and the accompanying materials are made available under the
terms of the Eclipse Public License 2.0 which is available at
http://www.eclipse.org/legal/epl-2.0

SPDX-License-Identifier: EPL-2.0
 
Contributors:
  Thales Global Services S.A.S - initial API and implementation
-->

<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.polarsys.kitalpha.mdecore.preference.category"
            class="org.polarsys.kitalpha.doc.gen.business.core.preference.ui.DocgenPreferencePage"
            id="org.polarsys.kitalpha.mdecore.docgen.preference.category"
            name="%DocGen">
      </page>
   </extension>
   	
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.polarsys.kitalpha.mdecore.docgen.preference.category"
            class="org.polarsys.kitalpha.doc.gen.business.core.preference.ui.DocgenBrandingPreferencesPage"
            id="org.polarsys.kitalpha.doc.gen.branding.preference.page"
            name="%DocGenBranding">
      </page>
      <page
            category="org.polarsys.kitalpha.mdecore.docgen.preference.category"
            class="org.polarsys.kitalpha.doc.gen.business.core.preference.ui.DocgenDiagramsPreferencesPage"
            id="org.polarsys.kitalpha.doc.gen.diagrams.preference.page"
            name="%DocGenDiagrams">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.polarsys.kitalpha.doc.gen.business.core.preference.internal.DocgenBrandingPreferencesInitializer">
      </initializer>
      <initializer
            class="org.polarsys.kitalpha.doc.gen.business.core.preference.internal.DocgenDiagramPreferencesInitializer">
      </initializer>
   </extension>
</plugin>
