<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
 <!--
Copyright (c) 2016, 2017 Thales Global Services S.A.S.
 This program and the accompanying materials are made available under the
 terms of the Eclipse Public License 2.0 which is available at
 http://www.eclipse.org/legal/epl-2.0

 SPDX-License-Identifier: EPL-2.0

Contributors:
 Thales Global Services S.A.S - initial API and implementation
-->
<plugin>
   <extension
         point="org.polarsys.kitalpha.resourcereuse.resources">
      <resource
            id="org.polarsys.kitalpha.resourcereuse.emfscheme.test.ju.test"
            name="Model Test"
            path="/org.polarsys.kitalpha.resourcereuse.emfscheme.test.ju/models/Test.vpdesc">
      </resource>
      <resource
            id="org.polarsys.kitalpha.resourcereuse.emfscheme.test.ju.large.resource"
            name="Large Ecore Resource"
            path="/org.polarsys.kitalpha.resourcereuse.emfscheme.test.ju/models/example.ecore">
      </resource>
       <resource
            id="org.polarsys.kitalpha.resourcereuse.emfscheme.test.ju.large.resource.corrupted"
            name="Large Corrupted Ecore Resource"
            path="/org.polarsys.kitalpha.resourcereuse.emfscheme.test.ju/models/exampleCorrupted.ecore">
      </resource>
      <resource
            id="Test1.resource1"
            name="MyTestResource 1"
            path="/org.polarsys.kitalpha.resourcereuse.emfscheme.test.ju/models/test1.componentsample"
            tags="pipo">
      </resource>
      <resource
            id="Test2.resource2"
            name="MyTestResource 2"
            path="/org.polarsys.kitalpha.resourcereuse.emfscheme.test.ju/models/test2.componentsample"
            tags="pipo, tata">
      </resource>
      <resource
            id="my_model"
            name="My Model"
            path="/org.polarsys.kitalpha.resourcereuse.emfscheme.test.ju/models/myModel.ecore">
      </resource>
   </extension>

</plugin>
