<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2014, 2020 Thales Global Services S.A.S.
 This program and the accompanying materials are made available under the
 terms of the Eclipse Public License 2.0 which is available at
 http://www.eclipse.org/legal/epl-2.0

 SPDX-License-Identifier: EPL-2.0

Contributors:
 Thales Global Services S.A.S - initial API and implementation
-->
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.polarsys.kitalpha.composer.allocation.strategies">
      <strategy
            Class="org.polarsys.kitalpha.composer.examples.advanced.ecore.gen.strategy.onefile.StrategyOneFile"
            Description="Generate one file for the model and one declaration per EClass"
            Id="org.polarsys.kitalpha.composer.examples.advanced.ecore.gen.strategy.onefile"
            Name="Ecore HTML Generator OneFile Strategy"
            NsUri="http://org.polarsys.kitalpha/composer/example/advancedusecase/ecoreadvancedalloc/1.0.0">
      </strategy>
   </extension>

</plugin>
