<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->


<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.polarsys.org/kitalpha/ad/sirius/1.0.0"
            class="org.polarsys.kitalpha.ad.integration.sirius.model.edit.provider.SiriusItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http://www.polarsys.org/kitalpha/ad/viewpoint/1.0.0"
            class="org.polarsys.kitalpha.ad.integration.sirius.model.edit.provider.SiriusItemProviderAdapterFactory$ViewpointChildCreationExtender"/>
   </extension>

</plugin>
