<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
#
# 	Copyright (c) THALES, 2007-2010. All rights reserved.
#
-->
<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.ui.newWizards">
      <wizard category="org.polarsys.kitalpha.wizard.category/org.polarsys.kitalpha.wizard.examples.category"
      		class="org.polarsys.kitalpha.emde.example.simplecomponent.model.simplecomponent.presentation.SimplecomponentModelWizard" 
      		icon="icons/full/obj16/SimplecomponentModelFile.gif" 
      		id="org.polarsys.kitalpha.emde.example.simplecomponent.model.simplecomponent.presentation.SimplecomponentModelWizardID" 
      		name="%_UI_SimplecomponentModelWizard_label">
         <description>%_UI_SimplecomponentModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.editors">
      <editor class="org.polarsys.kitalpha.emde.example.simplecomponent.model.simplecomponent.presentation.SimplecomponentEditor" contributorClass="org.polarsys.kitalpha.emde.example.simplecomponent.model.simplecomponent.presentation.SimplecomponentActionBarContributor" extensions="simplecomponent" icon="icons/full/obj16/SimplecomponentModelFile.gif" id="org.polarsys.kitalpha.emde.example.simplecomponent.model.simplecomponent.presentation.SimplecomponentEditorID" name="%_UI_SimplecomponentEditor_label">
      </editor>
   </extension>

</plugin>
