<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->


<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.polarsys.kitalpha.ad.viewpoint.integrationdomain.integration.presentation.IntegrationModelWizardID"
            name="%_UI_IntegrationModelWizard_label"
            class="org.polarsys.kitalpha.ad.viewpoint.integrationdomain.integration.presentation.IntegrationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/IntegrationModelFile.gif">
         <description>%_UI_IntegrationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.polarsys.kitalpha.ad.viewpoint.integrationdomain.integration.presentation.IntegrationEditorID"
            name="%_UI_IntegrationEditor_label"
            icon="icons/full/obj16/IntegrationModelFile.gif"
            extensions="integration"
            class="org.polarsys.kitalpha.ad.viewpoint.integrationdomain.integration.presentation.IntegrationEditor"
            contributorClass="org.polarsys.kitalpha.ad.viewpoint.integrationdomain.integration.presentation.IntegrationActionBarContributor">
      </editor>
   </extension>

</plugin>
