<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2015 Thales Global Services S.A.S.
 This program and the accompanying materials are made available under the
 terms of the Eclipse Public License 2.0 which is available at
 http://www.eclipse.org/legal/epl-2.0

 SPDX-License-Identifier: EPL-2.0
 
 Contributors:
   Thales Global Services S.A.S - initial API and implementation
-->

<?eclipse version="3.0"?>
<plugin>
	<extension
         point="org.polarsys.kitalpha.ad.viewpoint.dsl.as.desc.validation.coreConstraintContribution">
      <contribution
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.style.customization.validation.name.CustomizationUniqueName"
            constraint="vpElement.UniqueValue"
            name="Customization name Unique constraint">
      </contribution>
      <contribution
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.style.customization.validation.name.CustomizationNotEmptyName"
            constraint="vpNamedElement.NameNotEmpty"
            name="Customization Not Empty Name">
      </contribution>
   </extension>
 <extension
       point="org.polarsys.kitalpha.ad.viewpoint.dsl.as.desc.validation.additionalConstraint">
    <addition
          class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.style.customization.validation.appliedon.SpecificCustomizationAppliedOnNotEmpty"
          constraint="vpElement.FreeErrorConstraint"
          name="Check of Specific Style AppliedOn is Empty ">
    </addition>
    <addition
          class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.style.customization.validation.appliedon.AbstractCustomizationAppliedOnNotEmpty"
          constraint="vpElement.FreeErrorConstraint"
          name="Abstract Style Customization AppliedOn is Empty ">
    </addition>
    <addition
          class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.style.customization.validation.appliedon.ColorCustomizationAppliedOnCompliancy"
          constraint="vpElement.FreeErrorConstraint"
          name="ColorCustomization and styles compliancy">
    </addition>
    <addition
          class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.style.customization.validation.appliedon.StyleCustomizationReuseAppliedOnNotEmpty"
          constraint="vpElement.FreeErrorConstraint"
          name="Style customization reuse - Applied on not empty">
    </addition>
    <addition
          class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.style.customization.validation.appliedon.StyleCustomizationReuseReusedCustoNotEmpty"
          constraint="vpElement.FreeErrorConstraint"
          name="Style customization reuse Reused customization not empty">
    </addition>
 </extension>
</plugin>
