<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
Copyright (c) 2014 Thales Global Services S.A.S.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

Contributors:
 Thales Global Services S.A.S - initial API and implementation
-->
<plugin>
	<extension
	     point="org.eclipse.ui.views">
	  <view
	        name="Component Sample Quality Assessment"
	        icon="icons/view.gif"
	        category="org.polarsys.kitalpha.view.category"
	        class="org.polarsys.kitalpha.ad.viewpoint.ui.views.ViewpointView"
	        id="org.polarsys.kitalpha.vp.componentsamplequalityassessment.view"
	        resourceId="org.polarsys.kitalpha.vp.componentsamplequalityassessment"/>
	</extension>
	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="AF"
	        id="org.polarsys.kitalpha.vp.componentsamplequalityassessment"
	        tags="vp"
	        name="Component Sample Quality Assessment"
	        path="/org.polarsys.kitalpha.vp.componentsamplequalityassessment.af/model/ComponentSampleQualityAssessment.vp#_yAbP4EI_EeSvPZ_bPTSMKQ"/>
	</extension>
	<extension 
	     point="org.eclipse.ui.propertiesView">
	 	<excludeSources
	    	id="org.polarsys.kitalpha.vp.componentsamplequalityassessment.view">
	 	</excludeSources>
	</extension>
	<extension
		point="org.polarsys.kitalpha.ad.viewpoint.javarules">
		<JavaRule
			name="ComponentSampleFramework.RuleTwo"
			class="org.polarsys.kitalpha.vp.componentsampleframework.af.businessrules.RuleTwo">
		</JavaRule>
	</extension>
	<extension
		point="org.polarsys.kitalpha.ad.viewpoint.javarules">
		<JavaRule
			name="ComponentSample.RuleThree"
			class="org.polarsys.kitalpha.vp.componentsample.af.businessrules.RuleThree">
		</JavaRule>
	</extension>
	<extension
		point="org.polarsys.kitalpha.ad.viewpoint.javarules">
		<JavaRule
			name="ComponentSample.RuleTwo"
			class="org.polarsys.kitalpha.vp.componentsample.af.businessrules.RuleTwo">
		</JavaRule>
	</extension>
	<extension
		point="org.polarsys.kitalpha.ad.viewpoint.javarules">
		<JavaRule
			name="ComponentSample.RuleOne"
			class="org.polarsys.kitalpha.vp.componentsample.af.businessrules.RuleOne">
		</JavaRule>
	</extension>
	<extension
		point="org.polarsys.kitalpha.ad.viewpoint.javarules">
		<JavaRule
			name="ComponentSampleFramework.RuleOne"
			class="org.polarsys.kitalpha.vp.componentsampleframework.af.businessrules.RuleOne">
		</JavaRule>
	</extension>
</plugin>

