<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>



<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ComponentSample -->
      <package class="org.polarsys.kitalpha.vp.componentsample.ComponentSample.ComponentSamplePackage" genModel="models/ComponentSample.genmodel" uri="http://www.polarsys.org/kitalpha/ComponentSample/1.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated ComponentSample -->
      <parser class="org.polarsys.kitalpha.vp.componentsample.ComponentSample.util.ComponentSampleResourceFactoryImpl" type="componentsample"/>
   </extension>

</plugin>
