<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
	      <view
	            category="org.polarsys.kitalpha.view.category"
	            class="org.polarsys.kitalpha.report.ui.views.ReportsView"
	            icon="icons/ReportView.png"
	            id="org.polarsys.kitalpha.report.ui.views.reportsview"
	            name="%ReportViewLabel">
	      </view>
      
	</extension>
</plugin>
