<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>



<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ComponentSample -->
      <wizard category="org.polarsys.kitalpha.wizard.category/org.polarsys.kitalpha.mdeCoreTechnology.wizard.category" class="org.polarsys.kitalpha.vp.componentsample.ComponentSample.presentation.ComponentSampleModelWizard" icon="icons/full/obj16/ComponentSampleModelFile.gif" id="org.polarsys.kitalpha.vp.componentsample.ComponentSample.presentation.ComponentSampleModelWizardID" name="%_UI_ComponentSampleModelWizard_label">
         <description>%_UI_ComponentSampleModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.ui.editors">
      <!-- @generated ComponentSample -->
      <editor class="org.polarsys.kitalpha.vp.componentsample.ComponentSample.presentation.ComponentSampleEditor" contributorClass="org.polarsys.kitalpha.vp.componentsample.ComponentSample.presentation.ComponentSampleActionBarContributor" extensions="componentsample" icon="icons/full/obj16/ComponentSampleModelFile.gif" id="org.polarsys.kitalpha.vp.componentsample.ComponentSample.presentation.ComponentSampleEditorID" name="%_UI_ComponentSampleEditor_label">
      </editor>
   </extension>

</plugin>
