<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2014 Thales Global Services S.A.S.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html
 
Contributors:
  Thales Global Services S.A.S - initial API and implementation
-->

<?eclipse version="3.4"?>
<plugin>
   <extension-point id="initializeconcretesyntaxresource" name="initializeconcretesyntaxresource" schema="schema/initializeconcretesyntaxresource.exsd"/>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.polarsys.kitalpha.ad.viewpoint.dsl.services.reverse.ecore"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               icon="icons/dslvp_menu.gif"
               id="org.polarsys.kitalpha.ad.viewpoint.dsl.services.reverse.menu.ecore"
               label="%menu.label"
               path="additions">
            <groupMarker
                  name="reverse">
            </groupMarker>
         </menu>
         <action
               class="org.polarsys.kitalpha.ad.viewpoint.dsl.services.reverse.ecore.ReverseFromEcoreAction"
               enablesFor="1"
               id="org.polarsys.kitalpha.ad.viewpoint.dsl.services.reverse.fromecore"
               label="%menu.action.reverse.label"
               menubarPath="org.polarsys.kitalpha.ad.viewpoint.dsl.services.reverse.menu.ecore/reverse">
         </action>
      </objectContribution>
   </extension>

</plugin>
