<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2014 Thales Global Services S.A.S.
This program and the accompanying materials are made available under the
terms of the Eclipse Public License 2.0 which is available at
http://www.eclipse.org/legal/epl-2.0

SPDX-License-Identifier: EPL-2.0
 
Contributors:
  Thales Global Services S.A.S - initial API and implementation
-->

<?eclipse version="3.4"?>
<plugin>
   <extension-point id="initializeconcretesyntaxresource" name="initializeconcretesyntaxresource" schema="schema/initializeconcretesyntaxresource.exsd"/>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.polarsys.kitalpha.ad.viewpoint.dsl.services.reverse.ecore"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               icon="icons/Kitalpha_Logo_alpha.png"
               id="org.polarsys.kitalpha.ad.viewpoint.dsl.services.reverse.menu.ecore"
               label="%menu.label"
               path="additions">
            <groupMarker
                  name="reverse">
            </groupMarker>
         </menu>
         <action
               class="org.polarsys.kitalpha.ad.viewpoint.dsl.services.reverse.ecore.ReverseFromEcoreAction"
               enablesFor="1"
               icon="icons/dslvp_menu.gif"
               id="org.polarsys.kitalpha.ad.viewpoint.dsl.services.reverse.fromecore"
               label="%menu.action.reverse.label"
               menubarPath="org.polarsys.kitalpha.ad.viewpoint.dsl.services.reverse.menu.ecore/reverse">
         </action>
      </objectContribution>
   </extension>

</plugin>
