<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension point="org.eclipse.amalgam.explorer.activity.ui.pagesProvider">
	<Page
		class="org.polarsys.kitalpha.vp.componentsampleframework.activity.explorer.page.ComponentSampleViewpointManagementPagePage"
        id="org.polarsys.kitalpha.vp.componentsampleframework.viewpoint.management" 
		imageOff="icons/vp_management_off.png" 
		imageOn="icons/vp_management_on.png"
        index="2"
        tabName="Component Sample Viewpoints"
        title="Component Sample Viewpoints"
        viewer="false">
			<Description>
				Description body text
			</Description>
			<Predicate
				class="org.polarsys.kitalpha.vp.componentsampleframework.activity.explorer.predicate.PComponentSampleViewpointManagementPagePredicate">
			</Predicate>

		<Overview imageOff="icons/vp_management_off.png" imageOn="icons/vp_management_on.png">
			<Description>
				&lt;p&gt;&lt;b&gt;Component Sample Viewpoints&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Start and Stop Component Sample Viewpoints&lt;/p&gt;
			</Description>
		</Overview>

		<Section
			   expanded="false"
			   filtering="false"
			   id="org.polarsys.kitalpha.vp.componentsampleframework.start.stop.all.componentsample.viewpoints"	   
			   index="1"
			   name="Start or Stop All Component Sample Viewpoints">
			<Description>
				&lt;p&gt;Start or Stop all component sample viewpoints.&lt;/p&gt;
			</Description>
			<Activity
				class="org.polarsys.kitalpha.vp.componentsampleframework.activity.explorer.activity.StartAllActivity"
				id="org.polarsys.kitalpha.vp.componentsampleframework.start.all.viewpoints"
				index="1" 
				image="icons/start_all.png"
				name="Start All">
			<Description>
				Start All Component sample Viewpoints
			</Description>			</Activity>

			<Activity
				class="org.polarsys.kitalpha.vp.componentsampleframework.activity.explorer.activity.StopAllActivity"
				id="org.polarsys.kitalpha.vp.componentsampleframework.stop.all.viewpoints"
				index="2" 
				image="icons/stop_all.png"
				name="Stop All">
			<Description>
				Stop All Component sample Viewpoints
			</Description>			</Activity>
		</Section>


		<Section
			   expanded="false"
			   filtering="false"
			   id="org.polarsys.kitalpha.vp.componentsample.activity.explorer.csf.section"	   
			   index="2"
			   name="Component Sample Framework">
			<Description>
				&lt;p&gt;Start/Stop Component sample framework viewpoint&lt;/p&gt;
			</Description>
			<Activity
				class="org.polarsys.kitalpha.vp.componentsampleframework.activity.explorer.activity.StartComponentSampleFrameworkActivity"
				id="org.polarsys.kitalpha.vp.componentsample.activity.explorer.csf.start.section"
				index="1" 
				image="icons/start.png"
				name="Start">
			<Description>
				Start Component sample framework viewpoint
			</Description>			</Activity>

			<Activity
				class="org.polarsys.kitalpha.vp.componentsampleframework.activity.explorer.activity.StopComponentSampleFrameworkActivity"
				id="org.polarsys.kitalpha.vp.componentsample.activity.explorer.csf.stop.section"
				index="2" 
				image="icons/stop.png"
				name="Stop">
			<Description>
				Stop Component sample framework viewpoint
			</Description>			</Activity>
		</Section>
	</Page>
</extension>
</plugin>