<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2014 Thales Global Services S.A.S.
 This program and the accompanying materials are made available under the
 terms of the Eclipse Public License 2.0 which is available at
 http://www.eclipse.org/legal/epl-2.0

 SPDX-License-Identifier: EPL-2.0

Contributors:
 Thales Global Services S.A.S - initial API and implementation
-->
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.egf.core.fcore">
      <fcore
            id="egf/lvpsBuildFactory.fcore">
      </fcore>
   </extension>
   <extension
         point="org.polarsys.kitalpha.ad.viewpoint.dsl.generation.core.ExtensionLauncher">
      <launcher
            category="Aspect"
            description="This generation enables to generate the viewpoint build infrastructure"
            fcore="platform:/plugin/org.polarsys.kitalpha.ad.viewpoint.dsl.generation.build/egf/lvpsBuildFactory.fcore#__VJysd44EeKJqJUhCNewAQ"
            name="Release Engineering Scripts">
      </launcher>
      <filter
            java="org.polarsys.kitalpha.ad.viewpoint.dsl.generation.build.extension.BuildExtensionFilter">
      </filter>
   </extension>

</plugin>
