<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polarsys.kitalpha.emde.extension.model.manager">
      <manager
            class="org.polarsys.kitalpha.ad.integration.emde.AFModelExtensionManager">
      </manager>
   </extension>
   <extension
         point="org.polarsys.kitalpha.ad.services.tools.integration">
      <tool
            class="org.polarsys.kitalpha.ad.integration.emde.Activator">
      </tool>
   </extension>

</plugin>
