<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2014, 2020 Thales Global Services S.A.S.
 This program and the accompanying materials are made available under the
 terms of the Eclipse Public License 2.0 which is available at
 http://www.eclipse.org/legal/epl-2.0

 SPDX-License-Identifier: EPL-2.0

Contributors:
 Thales Global Services S.A.S - initial API and implementation
-->
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.polarsys.kitalpha.composer.allocation.refineries">
      <refinery
            Class="org.polarsys.kitalpha.composer.examples.recursive.ecore.gen.refinery.EcoreRecursiveRefinery"
            Description="Ecore Recursive Refinery"
            Id="org.polarsys.kitalpha.composer.examples.recursive.ecore.gen.refinery"
            Name="Ecore Recursive Refinery"
            NsUri="http://org.polarsys.kitalpha/composer/example/recursiveusecase/ecorerecursivealloc/1.0.0">
      </refinery>
   </extension>

</plugin>
