<?xml version="1.0" encoding="UTF-8"?><!--
Copyright (c) 2014, 2016 Thales Global Services S.A.S.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

Contributors:
 Thales Global Services S.A.S - initial API and implementation
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.polarsys.kitalpha.vp.componentsample.wizard.project.category1"
            name="Kitalpha Component sample project"
            parentCategory="org.polarsys.kitalpha.Examples">
      </category>
      <wizard
            class="org.polarsys.kitalpha.vp.componentsample.wizard.project.wizard.NewComponentsampleProject"
            icon="icons/componentsampleproject.png"
            id="org.polarsys.kitalpha.vp.componentsample.wizard.project.wizard1"
            name="New Component sample project"
            project="true">
      </wizard>
   </extension>

</plugin>
