<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->


<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.polarsys.kitalpha.ad.af.coredomain.af.model.editor.presentation.AfModelWizardID"
            name="%_UI_AfModelWizard_label"
            class="org.polarsys.kitalpha.ad.af.coredomain.af.model.editor.presentation.AfModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AfModelFile.gif">
         <description>%_UI_AfModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.polarsys.kitalpha.ad.af.coredomain.af.model.editor.presentation.AfEditorID"
            name="%_UI_AfEditor_label"
            icon="icons/full/obj16/AfModelFile.gif"
            extensions="af"
            class="org.polarsys.kitalpha.ad.af.coredomain.af.model.editor.presentation.AfEditor"
            contributorClass="org.polarsys.kitalpha.ad.af.coredomain.af.model.editor.presentation.AfActionBarContributor">
      </editor>
   </extension>

</plugin>
