<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2014 Thales Global Services S.A.S.
 This program and the accompanying materials are made available under the
 terms of the Eclipse Public License 2.0 which is available at
 http://www.eclipse.org/legal/epl-2.0

 SPDX-License-Identifier: EPL-2.0

Contributors:
 Thales Global Services S.A.S - initial API and implementation
-->
<?eclipse version="3.2"?>
<plugin>
   
   <extension
         point="org.polarsys.kitalpha.cadence.core.activity.declaration">
      <ActivityDeclaration
            ActivityClass="org.polarsys.kitalpha.transposer.transformation.emf.activities.TraceLoader"
            Identifier="org.polarsys.kitalpha.transposer.transformation.emf.trace.load"
            Name="EMF Based Trace Loader"
            WorkflowElementIdentifier="org.polarsys.kitalpha.transposer.before.analysis"
            WorkflowIdentifier="org.polarsys.kitalpha.transposer.workflow">
         <Description>
            This activity load the trace model and initialize the context if it is a GenericTransformationContext.
			The path of the trace has to be entered as declared parameter in the cadence launch configuration tab.
         </Description>
      </ActivityDeclaration>
   </extension>
   
<extension
         point="org.polarsys.kitalpha.cadence.core.activity.declaration">
      <ActivityDeclaration
            ActivityClass="org.polarsys.kitalpha.transposer.transformation.emf.activities.TraceCleaner"
            Identifier="org.polarsys.kitalpha.transposer.transformation.emf.trace.clean"
            Name="EMF Based Trace Cleaner"
            WorkflowElementIdentifier="org.polarsys.kitalpha.transposer.after.rule.execution"
            WorkflowIdentifier="org.polarsys.kitalpha.transposer.workflow">
         <Description>
            This activity clean traces and created/updated model.
         </Description>
      </ActivityDeclaration>
   </extension>
   <extension
         point="org.polarsys.kitalpha.cadence.core.activity.declaration">
      <ActivityDeclaration
            ActivityClass="org.polarsys.kitalpha.transposer.transformation.emf.activities.SoftTraceCleaner"
            Identifier="org.polarsys.kitalpha.transposer.transformation.emf.trace.clean.soft"
            Name="EMF Based Soft Trace Cleaner"
            WorkflowElementIdentifier="org.polarsys.kitalpha.transposer.after.rule.execution"
            WorkflowIdentifier="org.polarsys.kitalpha.transposer.workflow">
         <Description>
            This activity clean traces and created/updated model.
         </Description>
      </ActivityDeclaration>
   </extension>
   <extension
         point="org.polarsys.kitalpha.cadence.core.activity.declaration">
      <ActivityDeclaration
            ActivityClass="org.polarsys.kitalpha.transposer.transformation.emf.activities.TraceSaver"
            Identifier="org.polarsys.kitalpha.transposer.transformation.emf.trace.save"
            Name="EMF Based Trace Saver"
            WorkflowElementIdentifier="org.polarsys.kitalpha.transposer.after.rule.execution"
            WorkflowIdentifier="org.polarsys.kitalpha.transposer.workflow">
         <Description>
            This activity save the trace model.
         </Description>
      </ActivityDeclaration>
   </extension>

</plugin>
