<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2014, 2020 Thales Global Services S.A.S.
 This program and the accompanying materials are made available under the
 terms of the Eclipse Public License 2.0 which is available at
 http://www.eclipse.org/legal/epl-2.0

 SPDX-License-Identifier: EPL-2.0

Contributors:
 Thales Global Services S.A.S - initial API and implementation
-->
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.polarsys.kitalpha.accuracy.ui.menu"
         name="Accuracy Menu"
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <menu
               icon="icons/validate_16.gif"
               id="org.polarsys.kitalpha.accuracy.ui.menu.root"
               label="%accuracy.menu.label">
            <command
                  commandId="org.polarsys.kitalpha.accuracy.ui.commands.validateModelCommand"
                  icon="icons/validate_16.gif"
                  id="org.polarsys.kitalpha.accuracy.ui.menu.command.validatemodel"
                  label="Validate Model"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.ecore.EObject">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="org.polarsys.kitalpha.accuracy.ui.menu.commands.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.polarsys.kitalpha.accuracy.ui.commands.applyConfigurationCommand"
                  icon="icons/validate_16.gif"
                  id="org.polarsys.kitalpha.accuracy.ui.menu.command"
                  label="%accuracy.command.label"
                  tooltip="%accuracy.command.tooltip">
               <visibleWhen>
               <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="properties">
                     </test>
                  </adapt>
               </iterate>
            </with>
               </visibleWhen>
            </command>
            <visibleWhen
                  checkEnabled="true"></visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.polarsys.kitalpha.accuracy.ui.internal.handlers.ApplyConfigurationHandler"
            commandId="org.polarsys.kitalpha.accuracy.ui.commands.applyConfigurationCommand">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="properties">
                     </test>
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%accuracy.command.category.description.0"
            id="org.polarsys.kitalpha.accuracy.ui.commands.category"
            name="%accuracy.command.category.name">
      </category>
      <command
            categoryId="org.polarsys.kitalpha.accuracy.ui.commands.category"
            description="%accuracy.command.applyconf.description"
            id="org.polarsys.kitalpha.accuracy.ui.commands.applyConfigurationCommand"
            name="%accuracy.command.applyconf.name">
      </command>
      <command
            categoryId="org.polarsys.kitalpha.accuracy.ui.commands.category"
            description="%accuracy.command.validatemodel.description"
            id="org.polarsys.kitalpha.accuracy.ui.commands.validateModelCommand"
            name="%accuracy.command.validatemodel.name">
      </command>
   </extension>

</plugin>
