<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
Copyright (c) 2014, 2020 Thales Global Services S.A.S.
 This program and the accompanying materials are made available under the
 terms of the Eclipse Public License 2.0 which is available at
 http://www.eclipse.org/legal/epl-2.0

 SPDX-License-Identifier: EPL-2.0

Contributors:
 Thales Global Services S.A.S - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.polarsys.kitalpha.mdetoolkit"
            name="%_UI_MDEToolkit_Wizard_category"/>
      <wizard
            id="org.polarsys.kitalpha.transposer.transformation.emf.traces.presentation.TracesModelWizardID"
            name="%_UI_TracesModelWizard_label"
            class="org.polarsys.kitalpha.transposer.transformation.emf.traces.presentation.TracesModelWizard"
            category="org.polarsys.kitalpha.mdetoolkit"
            icon="icons/full/obj16/TracesModelFile.gif">
         <description>%_UI_TracesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.polarsys.kitalpha.transposer.transformation.emf.traces.presentation.TracesEditorID"
            name="%_UI_TracesEditor_label"
            icon="icons/full/obj16/TracesModelFile.gif"
            extensions="traces"
            class="org.polarsys.kitalpha.transposer.transformation.emf.traces.presentation.TracesEditor"
            contributorClass="org.polarsys.kitalpha.transposer.transformation.emf.traces.presentation.TracesActionBarContributor">
      </editor>
   </extension>

</plugin>
