<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2014, 2020 Thales Global Services S.A.S.
This program and the accompanying materials are made available under the
terms of the Eclipse Public License 2.0 which is available at
http://www.eclipse.org/legal/epl-2.0

SPDX-License-Identifier: EPL-2.0
 
Contributors:
  Thales Global Services S.A.S - initial API and implementation
-->

<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polarsys.kitalpha.ad.viewpoint.dsl.as.desc.validation.coreConstraintContribution">
      <contribution
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.validation.name.ToolsUniqueNameconstraint"
            constraint="vpElement.UniqueValue"
            name="Tools name Unique constraint">
      </contribution>
      <contribution
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.validation.name.MappingsUniqueNameConstraint"
            constraint="vpElement.UniqueValue"
            name="Mapping name Not Empty constraint">
      </contribution>
      <contribution
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.validation.name.NotEmptyName"
            constraint="vpNamedElement.NameNotEmpty"
            name="Diagram Element Not Empty Name">
      </contribution>
   </extension>
   <extension
         point="org.polarsys.kitalpha.ad.viewpoint.dsl.as.desc.validation.additionalConstraint">
      <addition
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.validation.domain.AbstractNodeDomain"
            constraint="vpElement.FreeErrorConstraint"
            name="AbstractNode Domain constraints">
      </addition>
      <addition
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.validation.domain.EdgeDomain"        
            constraint="vpElement.FreeErrorConstraint"
            name="Edge Domain constraints">
      </addition>
      <addition
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.validation.representation.MappingRepresentationStyleNLabelRules"
            constraint="vpElement.FreeErrorConstraint"
            name="New Mapping Style Not Null Constraint | Imported Mapping must have either a Style or a Label">
      </addition>
      <addition
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.validation.representation.NodesUniqueNoConditionalRepresentationRules"
            constraint="vpElement.FreeErrorConstraint"
            name="Only one Container/Node/Bordered Node representation can have no condition">
      </addition>
      <addition
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.validation.representation.EdgesUniqueNoConditionalRepresentationRules"
            constraint="vpElement.FreeErrorConstraint"
            name="Only one Edge/EdgeImport Node representation can have no condition">
      </addition>
      <addition
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.validation.condition.NoCollectionDomainAttributeCondition"
            constraint="vpElement.FreeErrorConstraint"
            name="Domain condition constraint">
      </addition>
      <addition
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.validation.condition.ContainerChildrenRepresentationContraint"
            constraint="vpElement.FreeErrorConstraint"
            name="Container children representation Contraint">
      </addition>
   </extension>
   <extension
         point="org.polarsys.kitalpha.ad.viewpoint.dsl.as.desc.validation.additionalConstraint">
      <addition
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.validation.synchronizationmode.NodeImportSynchronizationModeRule"
            constraint="vpElement.FreeErrorConstraint"
            name="Node Check Synchronization Mode With Import">
      </addition>
      <addition
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.validation.synchronizationmode.ContainerImportSynchronizationModeRule"
            constraint="vpElement.FreeErrorConstraint"
            name="Container Check Synchronization Mode With Import">
      </addition>
      <addition
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.validation.synchronizationmode.BorderedNodeImportSynchronizationModeRule"
            constraint="vpElement.FreeErrorConstraint"
            name="BorderedNode Check Synchronization Mode With Import">
      </addition>
      <addition
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.validation.synchronizationmode.EdgeImportImportSynchronizationModeRule"
            constraint="vpElement.FreeErrorConstraint"
            name="edgeImport Check Synchronization Mode With Import">
      </addition>
      <addition
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.validation.synchronizationmode.CreateActionOnlyViewSynchronizationModeRule"
            constraint="vpElement.FreeErrorConstraint"
            name="Create Action Check Synchronization Mode">
      </addition>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.diagram.validation.DiagramValidationStart">
      </startup>
   </extension>

</plugin>
