<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->


<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.polarsys.kitalpha.ad.viewpoint.coredomain.viewpoint.model.editor.presentation.ViewpointModelWizardID"
            name="%_UI_ViewpointModelWizard_label"
            class="org.polarsys.kitalpha.ad.viewpoint.coredomain.viewpoint.model.editor.presentation.ViewpointModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ViewpointModelFile.gif">
         <description>%_UI_ViewpointModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.polarsys.kitalpha.ad.viewpoint.coredomain.viewpoint.model.editor.presentation.ViewpointEditorID"
            name="%_UI_ViewpointEditor_label"
            icon="icons/full/obj16/ViewpointModelFile.gif"
            extensions="vp"
            class="org.polarsys.kitalpha.ad.viewpoint.coredomain.viewpoint.model.editor.presentation.ViewpointEditor"
            contributorClass="org.polarsys.kitalpha.ad.viewpoint.coredomain.viewpoint.model.editor.presentation.ViewpointActionBarContributor">
      </editor>
   </extension>

</plugin>
