<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2014, 2020 Thales Global Services S.A.S.
 This program and the accompanying materials are made available under the
 terms of the Eclipse Public License 2.0 which is available at
 http://www.eclipse.org/legal/epl-2.0

 SPDX-License-Identifier: EPL-2.0

Contributors:
 Thales Global Services S.A.S - initial API and implementation
-->
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.polarsys.kitalpha.transposer.examples.m2m.uml.to.ecore.mapping.basic"
         name="Basic Transformation Example"
         point="org.polarsys.kitalpha.transposer.rules.handler.mapping">
      <mapping
            context="org.polarsys.kitalpha.transposer.transformation.context.GenericTransformationContext"
            description="Simple Model Transformation from UML to ECORE"
            domainHelper="org.polarsys.kitalpha.transposer.examples.m2m.uml.to.ecore.domain.UMLToEcoreDomainHelper"
            mappingName="UML to ECORE Mapping"
            mappingPurpose="org.polarsys.kitalpha.transposer.examples.m2m.uml.to.ecore.mapping">
         <mappingPackage
               name="UmlToEcore">
            <mappingElement
                  domainMetaClass="org.eclipse.uml2.uml.Package"
                  name="Package case"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.kitalpha.transposer.examples.m2m.uml.to.ecore.rules.packages.CompletePackageRule"
                     enabled="true"
                     name="Package rule">
               </defaultMappingPossibility>
            </mappingElement>
            <mappingElement
                  domainMetaClass="org.eclipse.uml2.uml.Class"
                  name="Class case"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     completeRule="org.polarsys.kitalpha.transposer.examples.m2m.uml.to.ecore.rules.classes.CompleteClassRule"
                     enabled="true"
                     name="Class rule">
               </defaultMappingPossibility>
            </mappingElement>
         </mappingPackage>
      </mapping>
   </extension>
</plugin>
