<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
      point="org.eclipse.amalgam.explorer.activity.ui.sectionsProvider">

		<Section
			   expanded="true"
			   filtering="true"
			   id="org.polarsys.kitalpha.vp.ComponentSampleQualityAssessment.start.stop.section"	   
			   index="3"
			   name="Component Sample Quality Assessment"
			   pageId="org.polarsys.kitalpha.vp.componentsample.activity.explorer.architecture">
			<Description>
				&lt;p&gt;Reference/Unreference Component sample Quality Assessment Viewpoint&lt;/p&gt;
			</Description>
			<Activity
				class="org.polarsys.kitalpha.vp.componentsamplequalityassessment.activity.explorer.activity.ReferenceComponentSampleQualityAssessmentViewpointActivity"
				id="org.polarsys.kitalpha.vp.ComponentSampleQualityAssessment.start.activity"
				index="1" 
				image="icons/reference.png"
				name="Reference">
			<Description>
				Reference Component sample Quality Assessment Viewpoint
			</Description>
			<Predicate
				class="org.polarsys.kitalpha.vp.componentsamplequalityassessment.activity.explorer.predicate.AReferenceComponentSampleQualityAssessmentViewpointPredicate">
			</Predicate>
			</Activity>

			<Activity
				class="org.polarsys.kitalpha.vp.componentsamplequalityassessment.activity.explorer.activity.UnreferenceComponentSampleQualityAssessmentViewpointActivity"
				id="org.polarsys.kitalpha.vp.ComponentSampleQualityAssessment.start.activity"
				index="2" 
				image="icons/unreference.png"
				name="Unreference">
			<Description>
				Unreference Component sample Quality Assessment Viewpoint
			</Description>
			<Predicate
				class="org.polarsys.kitalpha.vp.componentsamplequalityassessment.activity.explorer.predicate.AUnreferenceComponentSampleQualityAssessmentViewpointPredicate">
			</Predicate>
			</Activity>
		</Section>
</extension>
</plugin>