<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.polarsys.kitalpha.transposer.ui.launch.TransposerConfigurationType">
<stringAttribute key="mapping_id" value="org.polarsys.kitalpha.transposer.m2m.componentsample.to.uml.mapping"/>
<mapAttribute key="paramActivities">
<mapEntry key="org.polarsys.kitalpha.transposer.after.rule.execution" value="org.polarsys.kitalpha.transposer.m2m.componentsample.to.uml.PostTransformation;"/>
<mapEntry key="org.polarsys.kitalpha.transposer.before.analysis" value="org.polarsys.kitalpha.transposer.m2m.componentsample.to.uml.initTransformation;"/>
<mapEntry key="org.polarsys.kitalpha.transposer.before.rule.execution" value=""/>
<mapEntry key="org.polarsys.kitalpha.transposer.before.scheduling" value=""/>
</mapAttribute>
<stringAttribute key="purpose_name" value="org.polarsys.kitalpha.transposer.m2m.componentsample.to.uml.purpose"/>
</launchConfiguration>
