<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2014, 2020 Thales Global Services S.A.S.
This program and the accompanying materials are made available under the
terms of the Eclipse Public License 2.0 which is available at
http://www.eclipse.org/legal/epl-2.0

SPDX-License-Identifier: EPL-2.0
 
Contributors:
  Thales Global Services S.A.S - initial API and implementation
-->

<?eclipse version="3.0"?>
<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <package class="org.polarsys.kitalpha.ad.af.dsl.as.model.afdesc.AfdescPackage" genModel="model/afdesc.genmodel" uri="http://www.polarsys.org/kitalpha/ad/af/dsl/as/afdesc/1.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser class="org.polarsys.kitalpha.ad.af.dsl.as.model.afdesc.util.AfdescResourceFactoryImpl" type="afdesc"/>
   </extension>

</plugin>
