<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2014, 2020 Thales Global Services S.A.S.
 This program and the accompanying materials are made available under the
 terms of the Eclipse Public License 2.0 which is available at
 http://www.eclipse.org/legal/epl-2.0

 SPDX-License-Identifier: EPL-2.0

Contributors:
 Thales Global Services S.A.S - initial API and implementation
-->
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
         <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.polarsys.kitalpha.Examples"
            class="org.polarsys.kitalpha.transposer.examples.TransposerBasicUseCaseWizard"
            hasPages="false"
            icon="icon/icon-example.jpg"
            id="org.polarsys.kitalpha.transposer.example.category.basic"
            name="Transposer Basic Transformation Example"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.polarsys.kitalpha.Examples"
            class="org.polarsys.kitalpha.transposer.examples.TransposerExtendedUseCaseWizard"
            hasPages="false"
            icon="icon/icon-example.jpg"
            id="org.polarsys.kitalpha.transposer.example.category.extended"
            name="Transposer Extended Transformation Example"
            project="true">
      </wizard>
   </extension>

</plugin>
