<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2014 Thales Global Services S.A.S.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

Contributors:
 Thales Global Services S.A.S - initial API and implementation
-->
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
         <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples"
            class="org.polarsys.kitalpha.transposer.examples.TransposerBasicUseCaseWizard"
            hasPages="false"
            icon="icon/icon-example.jpg"
            id="org.polarsys.kitalpha.transposer.example.category.basic"
            name="Transposer Basic Transformation Example"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples"
            class="org.polarsys.kitalpha.transposer.examples.TransposerExtendedUseCaseWizard"
            hasPages="false"
            icon="icon/icon-example.jpg"
            id="org.polarsys.kitalpha.transposer.example.category.extended"
            name="Transposer Extended Transformation Example"
            project="true">
      </wizard>
   </extension>

</plugin>
