<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>



<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ComponentSampleQualityAssessment -->
      <package class="org.polarsys.kitalpha.vp.componentsamplequalityassessment.ComponentSampleQualityAssessment.ComponentSampleQualityAssessmentPackage" genModel="models/ComponentSampleQualityAssessment.genmodel" uri="http://www.polarsys.org/kitalpha/ComponentSampleQualityAssessment/1.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated ComponentSampleQualityAssessment -->
      <parser class="org.polarsys.kitalpha.vp.componentsamplequalityassessment.ComponentSampleQualityAssessment.util.ComponentSampleQualityAssessmentResourceFactoryImpl" type="componentsamplequalityassessment"/>
   </extension>

</plugin>
