<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright (c) 2015, 2020 Thales Global Services S.A.S.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0

  SPDX-License-Identifier: EPL-2.0

  Contributors:
    Thales Global Services S.A.S - initial API and implementation
-->

<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polarsys.kitalpha.ad.viewpoint.dsl.as.desc.validation.additionalConstraint">
      <addition
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.activityexplorer.validatation.rules.ActivityExplorerItemUniqueIDConstraint"
            constraint="vpElement.FreeErrorConstraint"
            name="Activity Explorer Item unique IDs constraint">
      </addition>
      <addition
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.activityexplorer.validatation.rules.ActivityExplorerItemNotEmptyIDConstraint"
            constraint="vpElement.FreeErrorConstraint"
            name="Activity Explorer Item not null IDs constraint">
      </addition>
      <addition
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.activityexplorer.validatation.rules.ActivityUniqueNameConstraint"
            constraint="vpElement.FreeErrorConstraint"
            name="Activities unique name">
      </addition>
      <addition
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.activityexplorer.validatation.rules.PageAndSectionExtendedElementValidNoEmptyID"
            constraint="vpElement.FreeErrorConstraint"
            name="Page and Section extended element valid and no emptyID">
      </addition>
      <addition
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.activityexplorer.validatation.rules.PageAndSectionExtendedElementIDExists"
            constraint="vpElement.FreeErrorConstraint"
            name="Extended Page and Section ID existence">
      </addition>
      <addition
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.activityexplorer.validatation.rules.IconOnFileExistsConstraint"
            constraint="vpElement.FreeErrorConstraint"
            name="Icon Path">
      </addition>
      <addition
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.activityexplorer.validatation.rules.IconOffFileExistsConstraint"
            constraint="vpElement.FreeErrorConstraint"
            name="Icon Off Path">
      </addition>
   </extension>

   <extension
         point="org.polarsys.kitalpha.ad.viewpoint.dsl.as.desc.validation.coreConstraintContribution">
      <contribution
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.activityexplorer.validatation.rules.ActivityExplorerItemUniqueNameConstraint"
            constraint="vpElement.UniqueValue"
            name="Page, Section and Activities unique name in container">
      </contribution>
      <contribution
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.activityexplorer.validatation.rules.ActivityExplorerItemNameNotValidConstraint"
            constraint="vpNamedElement.NameNotValid"
            name="Page, Section and Activities not valid name">
      </contribution>
      <contribution
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.activityexplorer.validatation.rules.ActivityExplorerItemNameNotValidConstraint"
            constraint="vpNamedElement.NameNotEmpty"
            name="Page, Section and Activities not empty name">
      </contribution>
   </extension>

   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.as.activityexplorer.validatation.startup.ViewpointActivityExplorerValidation"></startup>
   </extension>
</plugin>
