<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
	     point="org.eclipse.ui.views">
	  <view
	        name="Component Sample Performance"
	        icon="icons/view.gif"
	        category="org.polarsys.kitalpha.view.category"
	        class="org.polarsys.kitalpha.ad.viewpoint.ui.views.ViewpointView"
	        id="org.polarsys.kitalpha.vp.componentsampleperformance.view"
	        resourceId="org.polarsys.kitalpha.vp.componentsampleperformance"/>
	</extension>
	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="AF"
	        id="org.polarsys.kitalpha.vp.componentsampleperformance"
	        tags="vp"
	        name="Component Sample Performance"
	        path="/org.polarsys.kitalpha.vp.componentsampleperformance.af/model/ComponentSamplePerformance.vp#_QDcNAEI_EeSvPZ_bPTSMKQ"/>
	</extension>
	<extension 
	     point="org.eclipse.ui.propertiesView">
	 	<excludeSources
	    	id="org.polarsys.kitalpha.vp.componentsampleperformance.view">
	 	</excludeSources>
	</extension>
</plugin>

