<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.egf.core.fcore">
      <fcore
            id="egf/emf.gen.edit.fcore">
      </fcore>
      <fcore
            id="egf/emf.gen.editor.fcore">
      </fcore>
      <fcore
            id="egf/emf.gen.model.fcore">
      </fcore>
      <fcore
            id="egf/emf.gen.tests.fcore">
      </fcore>
      <fcore
            id="egf/javadoc.fcore">
      </fcore>
   </extension>

</plugin>
