<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2014, 2020 Thales Global Services S.A.S.
This program and the accompanying materials are made available under the
terms of the Eclipse Public License 2.0 which is available at
http://www.eclipse.org/legal/epl-2.0

SPDX-License-Identifier: EPL-2.0
 
Contributors:
  Thales Global Services S.A.S - initial API and implementation
-->

<?eclipse version="3.4"?>
<plugin>
   <extension-point id="concretesyntaxresource" name="concretesyntaxresource" schema="schema/concretesyntaxresource.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.polarsys.kitalpha.wizard.category/org.polarsys.kitalpha.ad.wizard.category"
            class="org.polarsys.kitalpha.ad.viewpoint.dsl.services.project.wizards.NewDSLVpProjectWizard"
            hasPages="true"
            icon="icons/project_new_wizard_list.gif"
            id="org.polarsys.kitalpha.ad.viewpoint.dsl.services.project.wizard"
            name="%wizard.name"
            project="true">
      </wizard>
   </extension>
   <extension
         id="ViewpointDslProjectNature"
         name="%nature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.polarsys.kitalpha.ad.viewpoint.dsl.services.project.nature.ViewpointDslProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/project_nature.png"
            id="org.polarsys.kitalpha.ad.viewpoint.dsl.services.project.dslvpimage"
            natureId="org.polarsys.kitalpha.ad.viewpoint.dsl.services.project.ViewpointDslProjectNature">
      </image>
   </extension>

</plugin>
