<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>



<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated B -->
      <factory class="B.B.provider.BItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="bbb"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated B -->
      <extender class="B.B.provider.BItemProviderAdapterFactory$AChildCreationExtender" uri="aaa"/>
   </extension>

</plugin>
