<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
#
# 	Copyright (c) THALES, 2007-2010. All rights reserved.
#
-->
<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory class="org.polarsys.kitalpha.emde.example.simplecomponent.model.simplecomponent.provider.SimplecomponentItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/kitalpha/emde/example/simplecomponent"/>
   </extension>

</plugin>
