<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="kitapha" sequenceNumber="1535982133">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.uml2.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.validation.ocl" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.doc.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.examples.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.examples.runtime.ui.pde.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ui.ide" version="0.0.0"/>
      <unit id="org.eclipse.ui.workbench" version="0.0.0"/>
      <unit id="lpg.runtime.java.source" version="0.0.0"/>
      <unit id="org.eclipse.ocl.common.source" version="0.0.0"/>
      <unit id="org.eclipse.ocl.ecore.source" version="0.0.0"/>
      <unit id="org.eclipse.ocl.source" version="0.0.0"/>
      <unit id="org.eclipse.xtend.source" version="0.0.0"/>
      <unit id="org.eclipse.xpand.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe.core.source" version="0.0.0"/>
      <unit id="org.eclipse.xtend.typesystem.emf.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe.utils.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.runtime.source" version="0.0.0"/>
      <unit id="org.eclipse.cvs.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.draw2d.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.draw2d.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.e4.rcp.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.codegen.ecore.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.codegen.ecore.ui.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.codegen.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.codegen.ui.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.common.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.common.ui.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.converter.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.databinding.edit.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.databinding.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.doc.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.edit.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.editor.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecore.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.edit.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.edit.ui.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.mapping.ecore.editor.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mapping.ecore.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mapping.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.mapping.ui.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.query.doc" version="0.0.0"/>
      <unit id="org.eclipse.emf.query.ocl.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.query.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.doc" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.validation.doc" version="0.0.0"/>
      <unit id="org.eclipse.emf.validation.ocl.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.validation.source" version="0.0.0"/>
      <unit id="org.eclipse.emf.workspace.doc" version="0.0.0"/>
      <unit id="org.eclipse.emf.workspace.source" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.core.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.extras.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.rcp.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.user.ui.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gef.source" version="0.0.0"/>
      <unit id="org.eclipse.gmf.examples.runtime" version="0.0.0"/>
      <unit id="org.eclipse.gmf.examples.runtime.ui.pde" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.notation.sdk" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.notation.source" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.sdk" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.thirdparty.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.help.source" version="0.0.0"/>
      <unit id="org.eclipse.jdt.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jgit" version="0.0.0"/>
      <unit id="org.eclipse.ocl.all.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.pde.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.source" version="0.0.0"/>
      <unit id="org.eclipse.rcp.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.uml2.codegen.ecore.ui.source" version="0.0.0"/>
      <unit id="org.eclipse.uml2.common.edit.source" version="0.0.0"/>
      <unit id="org.eclipse.uml2.common.source" version="0.0.0"/>
      <unit id="org.eclipse.uml2.doc" version="0.0.0"/>
      <unit id="org.eclipse.uml2.examples.source" version="0.0.0"/>
      <unit id="org.eclipse.uml2.source" version="0.0.0"/>
      <unit id="org.eclipse.uml2.uml.edit.source" version="0.0.0"/>
      <unit id="org.eclipse.uml2.uml.source" version="0.0.0"/>
      <unit id="org.eclipse.xsd.doc.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xsd.ecore.converter.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xsd.edit.source" version="0.0.0"/>
      <unit id="org.eclipse.xsd.editor.source" version="0.0.0"/>
      <unit id="org.eclipse.xsd.mapping.editor.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xsd.mapping.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xsd.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xsd.source" version="0.0.0"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.docs.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.ui.source" version="0.0.0"/>
      <unit id="org.eclipse.xtext.xbase.lib.source" version="0.0.0"/>
      <unit id="org.eclipse.xtext.xbase.source" version="0.0.0"/>
      <unit id="org.eclipse.xtext.xtext.ui.source" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.annotations.source" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.doc" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.eef.sdk-feature.feature.group" version="0.0.0"/>
      <repository id="oxygen-release" location="http://download.eclipse.org/releases/oxygen"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius.doc.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.eef.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.xtext.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ocl.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.doc.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.eef.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.acceleo.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.xtext.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ocl.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.acceleo.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.acceleo.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.aql.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.aql.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.aql.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.aql.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.aql.feature.group" version="0.0.0"/>
      <repository id="Sirus" location="http://download.eclipse.org/sirius/updates/stable/6.1.0-S20180831-112606/oxygen/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.diffmerge.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.sirius.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.sirius.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.gmf.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.gmf.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.egit.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.egit.feature.source.feature.group" version="0.0.0"/>
      <repository id="EMF-DiffMerge" location="http://download.eclipse.org/diffmerge/releases/0.11.0/emf-diffmerge-site/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.diffmerge.patterns.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.patterns.sdk.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.patterns.sirius.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.patterns.sirius.sdk.feature.source.feature.group" version="0.0.0"/>
      <repository id="EDM-Patterns" location="http://download.eclipse.org/diffmerge/releases/0.11.0/edm-patterns-site/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.diffmerge.coevolution.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.coevolution.sdk.feature.source.feature.group" version="0.0.0"/>
      <repository id="coevolution" location="http://download.eclipse.org/diffmerge/releases/0.11.0/edm-coevolution-site/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.amalgam.explorer.activity.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.amalgam.explorer.activity.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.amalgam.explorer.contextual.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.amalgam.explorer.contextual.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.amalgam.explorer.contextual.sirius.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.amalgam.explorer.contextual.sirius.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.amalgam.explorer.contextual.core.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.amalgam.explorer.contextual.core.source.feature.group" version="0.0.0"/>
      <repository id="amalgam" location="http://download.eclipse.org/modeling/amalgam/updates/stable/1.9.0-S20180903/capella/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecoretools.design" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecoretools.explorer.contextual.feature.group" version="0.0.0"/>
      <repository id="EcoreTools" location="http://download.eclipse.org/ecoretools/updates/milestones/3.3.0RC4/oxygen/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.egf.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.egf.sdk.feature.source.feature.group" version="0.0.0"/>
      <repository id="EGFSdk" location="https://ci.eclipse.org/egf/job/tycho-egf-oxygen/lastSuccessfulBuild/artifact/releng/org.eclipse.egf.core.updatesite/target/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.richtext.feature.feature.group" version="0.0.0"/>
      <repository id="Nebula" location="http://download.eclipse.org/nebula/releases/1.4.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="0.0.0"/>
      <repository id="Nattable" location="http://download.eclipse.org/nattable/releases/1.5.0/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="ca.odell.glazedlists" version="0.0.0"/>
      <repository id="orbit" location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180206163158/repository"/>
    </location>
  </locations>
</target>
