<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
      point="org.eclipse.amalgam.explorer.activity.ui.sectionsProvider">

		<Section
			   expanded="true"
			   filtering="true"
			   id="org.polarsys.kitalpha.vp.ComponentSampleSafety.start.stop.section"	   
			   index="4"
			   name="Component Sample Safety"
			   pageId="org.polarsys.kitalpha.vp.componentsample.activity.explorer.architecture">
			<Description>
				&lt;p&gt;Reference/Unreference Component sample Safety Viewpoint&lt;/p&gt;
			</Description>
			<Activity
				class="org.polarsys.kitalpha.vp.componentsamplesafety.activity.explorer.activity.ActivateComponentSampleSafetyViewpointActivity"
				id="org.polarsys.kitalpha.vp.ComponentSampleSafety.activate.activity"
				index="1" 
				image="icons/activate.png"
				name="Activate">
			<Description>
				Activate Component sample Safety Viewpoint
			</Description>
			<Predicate
				class="org.polarsys.kitalpha.vp.componentsamplesafety.activity.explorer.predicate.AActivateComponentSampleSafetyViewpointPredicate">
			</Predicate>
			</Activity>

			<Activity
				class="org.polarsys.kitalpha.vp.componentsamplesafety.activity.explorer.activity.DeactivateComponentSampleSafetyViewpointActivity"
				id="org.polarsys.kitalpha.vp.ComponentSampleSafety.deactivate.activity"
				index="2" 
				image="icons/deactivate.png"
				name="Deactivate">
			<Description>
				Deactivate Component sample Safety Viewpoint
			</Description>
			<Predicate
				class="org.polarsys.kitalpha.vp.componentsamplesafety.activity.explorer.predicate.AdeactivateComponentSampleSafetyViewpointPredicate">
			</Predicate>
			</Activity>

			<Activity
				class="org.polarsys.kitalpha.vp.componentsamplesafety.activity.explorer.activity.ReferenceComponentSampleSafetyViewpointActivity"
				id="org.polarsys.kitalpha.vp.ComponentSampleSafety.start.activity"
				index="3" 
				image="icons/reference.png"
				name="Reference">
			<Description>
				Reference Component sample Safety Viewpoint
			</Description>
			<Predicate
				class="org.polarsys.kitalpha.vp.componentsamplesafety.activity.explorer.predicate.AReferenceComponentSampleSafetyViewpointPredicate">
			</Predicate>
			</Activity>

			<Activity
				class="org.polarsys.kitalpha.vp.componentsamplesafety.activity.explorer.activity.UnreferenceComponentSampleSafetyViewpointActivity"
				id="org.polarsys.kitalpha.vp.ComponentSampleSafety.start.activity"
				index="4" 
				image="icons/unreference.png"
				name="Unreference">
			<Description>
				Unreference Component sample Safety Viewpoint
			</Description>
			<Predicate
				class="org.polarsys.kitalpha.vp.componentsamplesafety.activity.explorer.predicate.AUnreferenceComponentSampleSafetyViewpointPredicate">
			</Predicate>
			</Activity>
		</Section>
</extension>
</plugin>