<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2014 Thales Global Services S.A.S.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

Contributors:
 Thales Global Services S.A.S - initial API and implementation
-->
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.polarsys.kitalpha.composer.cots.generators">
      <cost
            Class="org.polarsys.kitalpha.composer.examples.basic.ecore.gen.generator.launcher.AcceleoEcoreLauncher"
            Description="Ecore HTML Basic Documentation Acceleo Template"
            Id="org.polarsys.kitalpha.composer.examples.basic.ecore.gen.generator"
            Name="Ecore HTML Basic Documentation Acceleo Template"
            NsUri="http://org.polarsys.kitalpha/composer/example/basicusecase/ecorebasicalloc/1.0.0">
      </cost>
   </extension>

</plugin>
