<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2014, 2020 Thales Global Services S.A.S.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0

  SPDX-License-Identifier: EPL-2.0
 
 Contributors:
  Thales Global Services S.A.S - initial API and implementation
-->
<?eclipse version="3.4"?>

<!--
Copyright (c) 2014, 2020 Thales Global Services S.A.S.
 This program and the accompanying materials are made available under the
 terms of the Eclipse Public License 2.0 which is available at
 http://www.eclipse.org/legal/epl-2.0

 SPDX-License-Identifier: EPL-2.0

Contributors:
 Thales Global Services S.A.S - initial API and implementation
-->

<plugin>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="org.polarsys.kitalpha.vp.componentsamplesafetypattern.vpdsl.description"
	        tags="vpdesc"
	        name="componentsamplesafetypattern"
	        path="/org.polarsys.kitalpha.vp.componentsamplesafetypattern.vpdsl/model/ComponentSampleSafetyPattern.vpdesc"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="org.polarsys.kitalpha.vp.componentsamplesafetypattern.vpdsl.resource.ComponentSampleSafetyPattern.spec"
	        tags="Viewpoint"
	        name="spec"
	        path="/org.polarsys.kitalpha.vp.componentsamplesafetypattern.vpdsl/model/ComponentSampleSafetyPattern.spec.vptext"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="org.polarsys.kitalpha.vp.componentsamplesafetypattern.vpdsl.resource.ComponentSampleSafetyPattern.data"
	        tags="Viewpoint"
	        name="data"
	        path="/org.polarsys.kitalpha.vp.componentsamplesafetypattern.vpdsl/model/ComponentSampleSafetyPattern.data.vptext"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="org.polarsys.kitalpha.vp.componentsamplesafetypattern.vpdsl.resource.ComponentSampleSafetyPattern.conf"
	        tags="Viewpoint"
	        name="conf"
	        path="/org.polarsys.kitalpha.vp.componentsamplesafetypattern.vpdsl/model/ComponentSampleSafetyPattern.conf.vptext"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="org.polarsys.kitalpha.vp.componentsamplesafetypattern.vpdsl.resource.ComponentSampleSafetyPattern.diagram"
	        tags="Viewpoint"
	        name="diagram"
	        path="/org.polarsys.kitalpha.vp.componentsamplesafetypattern.vpdsl/model/ComponentSampleSafetyPattern.diagram.vptext"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="org.polarsys.kitalpha.vp.componentsamplesafetypattern.vpdsl.resource.ComponentSampleSafetyPattern.activityexplorer"
	        tags="Viewpoint"
	        name="activityexplorer"
	        path="/org.polarsys.kitalpha.vp.componentsamplesafetypattern.vpdsl/model/ComponentSampleSafetyPattern.activityexplorer.vptext"/>
	</extension>
</plugin>
