<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.polarsys.kitalpha.services.detachment.core.unknownReferences" name="unknownReferences" schema="schema/unknownReferences.exsd"/>
   <extension-point id="org.polarsys.kitalpha.services.detachment.core.detachment" name="detachment" schema="schema/detachment.exsd"/>
</plugin>
