<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>



<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated ComponentSampleQualityAssessment -->
      <factory class="org.polarsys.kitalpha.vp.componentsamplequalityassessment.ComponentSampleQualityAssessment.provider.ComponentSampleQualityAssessmentItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/kitalpha/ComponentSampleQualityAssessment/1.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated ComponentSampleQualityAssessment -->
      <extender class="org.polarsys.kitalpha.vp.componentsamplequalityassessment.ComponentSampleQualityAssessment.provider.ComponentSampleQualityAssessmentItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension>

</plugin>
