<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>



<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <package class="org.polarsys.capella.example.capellatags.CapellaTags.CapellaTagsPackage" genModel="models/CapellaTags.genmodel" uri="http://www.polarsys.org/capella/example/CapellaTags/1.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser class="org.polarsys.capella.example.capellatags.CapellaTags.util.CapellaTagsResourceFactoryImpl" type="capellatags"/>
   </extension>

</plugin>
