<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2014, 2020 Thales Global Services S.A.S.
 This program and the accompanying materials are made available under the
 terms of the Eclipse Public License 2.0 which is available at
 http://www.eclipse.org/legal/epl-2.0

 SPDX-License-Identifier: EPL-2.0

Contributors:
 Thales Global Services S.A.S - initial API and implementation
-->
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.polarsys.kitalpha.composer.allocation.binding">
      <binding
            Description="Binding for Ecore Metamodel"
            Id="org.polarsys.kitalpha.composer.examples.basic.ecore.gen.binding"
            Name="Ecore Basic"
            NsUri="http://org.polarsys.kitalpha/composer/example/basicusecase/ecorebasicalloc/1.0.0">
         <businessMetamodelNsUriDeclaration
               NsUri="http://www.eclipse.org/emf/2002/Ecore">
         </businessMetamodelNsUriDeclaration>
      </binding>
   </extension>

</plugin>
